# 前端项目

## 私有文件
__*

## 生成文件
dist/
package-lock.json
pnpm-lock.yaml
yarn.lock

## Node.js
node_modules/
jspm_packages/
bower_components/
.nyc_output/
coverage/
.eslintcache

# 编辑器

## Sublime
*.sublime-workspace

## Webstorm
.idea/
*.iws

## Visual Studio
.vs/
**/[Bb]in/[Dd]ebug/
**/[Bb]in/[Rr]elease/
[Oo]bj/
*.sln.*
*.vshost.*
*.suo
*.user
_ReSharper*/
*.ReSharper
.ntvs_analysis.dat
**/[Bb]in/Microsoft.NodejsTools.WebRole.dll

# 操作系统

## 临时文件
*.tmp
*.log
*~
._*

## Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

## OSX
.DS_Store